<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'loginPage.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-main">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="container">
          <div class="imgcontainer">
            <img
              src="{%static 'login-image.jpg'%}"
              alt="Avatar"
              class="avatar"
            />
          </div>
          <input
            type="email"
            placeholder="Enter email"
            name="email"
            float="right"
            required
          /><br />
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          /><br />
          <button type="submit"><b>Login</b></button><br />
          <h3>Create Account</h3>
          <button onclick="redirectToSignUpPage()"><b>Signup</b></button>
          <script>
            function redirectToSignUpPage() {
              window.location.href = "/signup";
            }
          </script>
        </div>
      </form>
    </div>
  </body>
</html>
