<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'signup.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <div id="signup-main">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="container">
          <div class="imgcontainer">
            <img
              src="{% static 'signup-image.jpeg'%}"
              alt="Avatar"
              class="avatar"
            />
          </div>
          <input
            type="text"
            placeholder="Enter your first name"
            name="firstName"
            required
          /><br />
          <input
            type="text"
            placeholder="Enter your last name"
            name="lastName"
            required
          /><br />
          <input
            type="email"
            placeholder="Enter email"
            name="email"
            float="right"
            required
          /><br />
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          /><br />
          <button type="submit"><b>Signup</b></button><br />
          <p>Existing User?</p>
          <button onclick="redirectToPage()">Login</button>
          <script>
            function redirectToPage() {
              // Replace 'destination.html' with the URL you want to redirect to
              window.location.href = "/";
            }
          </script>
        </div>
      </form>
    </div>
  </body>
</html>
